In [1]:
import warnings
from causalnex.structure import StructureModel

warnings.filterwarnings("ignore")  # silence warnings

sm = StructureModel()

In [2]:
import pandas as pd
import sys, os
sys.path.append(os.path.abspath(os.path.join('../utils')))

In [5]:

file_path = '../data/features.csv'
# Read the CSV file into a DataFrame
data = pd.read_csv(file_path)
data.head(5)

,id,order_id,driver_id,driver_action,lat,lng,driver_location,trip_origin,trip_destination,trip_Start_time,trip_end_time,trip_distance,trip_to_driver_distance,trip_time,trip_speed,isHoliday,isWeekend
0,1,392001,243828,accepted,6.602207,3.270465,"6.6022066,3.2704649","6.6010417,3.2766339","6.4501069,3.3916154",2021-07-01 09:30:59,2021-07-01 09:34:36,20.984319,0.694264,0 days 00:03:37,0.096702,0,0
1,2,392001,243588,rejected,6.592097,3.287445,"6.5920972,3.2874447","6.6010417,3.2766339","6.4501069,3.3916154",2021-07-01 09:30:59,2021-07-01 09:34:36,20.984319,1.551694,0 days 00:03:37,0.096702,0,0
2,3,392001,243830,rejected,6.596133,3.281784,"6.5961334,3.2817841","6.6010417,3.2766339","6.4501069,3.3916154",2021-07-01 09:30:59,2021-07-01 09:34:36,20.984319,0.786777,0 days 00:03:37,0.096702,0,0
3,4,392001,243539,rejected,6.596142,3.280526,"6.5961416,3.2805263","6.6010417,3.2766339","6.4501069,3.3916154",2021-07-01 09:30:59,2021-07-01 09:34:36,20.984319,0.692054,0 days 00:03:37,0.096702,0,0
4,5,392001,171653,rejected,6.609232,3.288800,"6.6092317,3.2887999","6.6010417,3.2766339","6.4501069,3.3916154",2021-07-01 09:30:59,2021-07-01 09:34:36,20.984319,1.621848,0 days 00:03:37,0.096702,0,0

In [8]:
filtered_df = data.loc[:, ['driver_action','isWeekend', 'isHoliday', 'trip_to_driver_distance', 'trip_time', 'trip_speed']]
filtered_df

,driver_action,isWeekend,isHoliday,trip_to_driver_distance,trip_time,trip_speed
0,accepted,0,0,0.694264,0 days 00:03:37,0.096702
1,rejected,0,0,1.551694,0 days 00:03:37,0.096702
2,rejected,0,0,0.786777,0 days 00:03:37,0.096702
3,rejected,0,0,0.692054,0 days 00:03:37,0.096702
4,rejected,0,0,1.621848,0 days 00:03:37,0.096702
...,...,...,...,...,...,...
1555712,rejected,0,0,3.263377,0 days 01:42:47,0.001316
1555713,rejected,0,0,3.399641,0 days 01:42:47,0.001316
1555714,rejected,0,0,3.002545,0 days 01:42:47,0.001316
1555715,rejected,0,0,3.263377,0 days 01:42:47,0.001316
1555716,rejected,0,0,3.613692,0 days 01:42:47,0.001316

In [9]:
sm = StructureModel()

In [10]:
#  Transform and encode

import numpy as np

struct_data = filtered_df.copy()
non_numeric_columns = list(struct_data.select_dtypes(exclude=[np.number]).columns)

print(non_numeric_columns)

['driver_action', 'trip_time']

In [11]:
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()

for col in non_numeric_columns:
    struct_data[col] = le.fit_transform(struct_data[col])

struct_data.head(5)

,driver_action,isWeekend,isHoliday,trip_to_driver_distance,trip_time,trip_speed
0,0,0,0,0.694264,200,0.096702
1,1,0,0,1.551694,200,0.096702
2,1,0,0,0.786777,200,0.096702
3,1,0,0,0.692054,200,0.096702
4,1,0,0,1.621848,200,0.096702

In [12]:
# Non numeric 
non_numeric_columns = list(struct_data.select_dtypes(exclude=[np.number]).columns)

print(non_numeric_columns)

[]

In [13]:
# Scale and normalize numerical data
from sklearn import preprocessing

x = struct_data.values #returns a numpy array
min_max_scaler = preprocessing.MinMaxScaler()
x_scaled = min_max_scaler.fit_transform(x)
df = pd.DataFrame(x_scaled)

In [14]:
df

           0    1    2         3         4         5
0        0.0  0.0  0.0  0.001058  0.025025  0.018849
1        1.0  0.0  0.0  0.002365  0.025025  0.018849
2        1.0  0.0  0.0  0.001199  0.025025  0.018849
3        1.0  0.0  0.0  0.001055  0.025025  0.018849
4        1.0  0.0  0.0  0.002472  0.025025  0.018849
...      ...  ...  ...       ...       ...       ...
1555712  1.0  0.0  0.0  0.004974  0.724349  0.000255
1555713  1.0  0.0  0.0  0.005182  0.724349  0.000255
1555714  1.0  0.0  0.0  0.004577  0.724349  0.000255
1555715  1.0  0.0  0.0  0.004974  0.724349  0.000255
1555716  1.0  0.0  0.0  0.005508  0.724349  0.000255

[1555717 rows x 6 columns]

In [16]:
# Apply the NOTEARS algorithm to learn the structure

from causalnex.structure.notears import from_pandas

sm = from_pandas(df)

## label-based selection or boolean indexing

In [8]:
order_df.head(2)

,id,order_id,driver_id,driver_action,lat,lng,driver_location,trip_origin,trip_destination,trip_Start_time,trip_end_time,trip_distance,trip_to_driver_distance,trip_time,trip_speed,isHoliday,isWeekend
0,1,392001,243828,accepted,6.602207,3.270465,"6.6022066,3.2704649","6.6010417,3.2766339","6.4501069,3.3916154",2021-07-01 09:30:59,2021-07-01 09:34:36,20.984319,0.694264,0 days 00:03:37,0.096702,0,0
1,2,392001,243588,rejected,6.592097,3.287445,"6.5920972,3.2874447","6.6010417,3.2766339","6.4501069,3.3916154",2021-07-01 09:30:59,2021-07-01 09:34:36,20.984319,1.551694,0 days 00:03:37,0.096702,0,0

In [13]:
order_df= order_df[order_df['trip_to_driver_distance']!=-1]
order_df.shape

(1555717, 17)

## Extract the unfullfilled orders

In [11]:
trip_with_drivers_df['is_fulfilled'] = order_df['trip_to_driver_distance'].apply(
    lambda x: 1 if x !=-2 else 0)

In [12]:
trip_with_drivers_df[trip_with_drivers_df['is_fulfilled']==0].shape

(0, 18)

## Filter out the neccessary columns only

In [50]:
filtered_df = trip_with_drivers_df.loc[:, ['is_weekend', 'is_holiday', 'distance', 'speed', 'Rain_Condition', 'Temperature', 'driver_distance', 'is_fulfilled']]
filtered_df

,is_weekend,is_holiday,distance,speed,Rain_Condition,Temperature,driver_distance,is_fulfilled
4,0,0,20.984319,348.126952,Rainy,High,0.694264,1
5,0,0,8.127195,14.237422,Rainy,High,1.959786,1
6,0,0,5.040921,4.929996,Rainy,High,2.947683,1
7,0,0,5.609962,9.607927,Rainy,High,1.197389,1
8,0,0,19.082399,25.854963,Rainy,High,0.197853,1
...,...,...,...,...,...,...,...,...
44373,0,0,2.582307,3.661404,Not Rainy,High,1.633417,1
44395,1,0,3.590521,22.209406,Rainy,High,2.736381,1
46224,1,0,26.751642,33.661626,Rainy,Moderate,3.094992,1
50522,0,0,18.333328,16.450643,Not Rainy,High,1.842496,1
53217,0,0,8.112927,4.735939,Rainy,High,2.297595,1

In [51]:
filtered_df['is_fulfilled'].value_counts()

1    25571
0      605
Name: is_fulfilled, dtype: int64

## Create Structure Model

In [52]:
sm = StructureModel()

# Create Edges

In [60]:
#  Transform and encode

import numpy as np

struct_data = filtered_df.copy()
non_numeric_columns = list(struct_data.select_dtypes(exclude=[np.number]).columns)

print(non_numeric_columns)

['Rain_Condition', 'Temperature']

In [61]:
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()

for col in non_numeric_columns:
    struct_data[col] = le.fit_transform(struct_data[col])

struct_data.head(5)

,is_weekend,is_holiday,distance,speed,Rain_Condition,Temperature,driver_distance,is_fulfilled
4,0,0,20.984319,348.126952,1,0,0.694264,1
5,0,0,8.127195,14.237422,1,0,1.959786,1
6,0,0,5.040921,4.929996,1,0,2.947683,1
7,0,0,5.609962,9.607927,1,0,1.197389,1
8,0,0,19.082399,25.854963,1,0,0.197853,1

In [63]:
# Non numeric 
non_numeric_columns = list(struct_data.select_dtypes(exclude=[np.number]).columns)

print(non_numeric_columns)

[]

In [ ]:
# struct_data['Rain_Condition'].value_counts()

### Scale and normalize numerical data

In [64]:
# Scale and normalize numerical data
from sklearn import preprocessing

x = struct_data.values #returns a numpy array
min_max_scaler = preprocessing.MinMaxScaler()
x_scaled = min_max_scaler.fit_transform(x)
df = pd.DataFrame(x_scaled)

In [99]:
df

         0    1         2         3    4    5         6    7
0      0.0  0.0  0.614757  0.061171  1.0  0.0  0.076714  1.0
1      0.0  0.0  0.237800  0.002499  1.0  0.0  0.112747  1.0
2      0.0  0.0  0.147314  0.000863  1.0  0.0  0.140875  1.0
3      0.0  0.0  0.163998  0.001685  1.0  0.0  0.091039  1.0
4      0.0  0.0  0.558995  0.004540  1.0  0.0  0.062579  1.0
...    ...  ...       ...       ...  ...  ...       ...  ...
26171  0.0  0.0  0.075230  0.000640  0.0  0.0  0.103454  1.0
26172  1.0  0.0  0.104790  0.003900  1.0  0.0  0.134859  1.0
26173  1.0  0.0  0.783849  0.005912  1.0  1.0  0.145069  1.0
26174  0.0  0.0  0.537033  0.002888  0.0  0.0  0.109407  1.0
26175  0.0  0.0  0.237382  0.000829  1.0  0.0  0.122365  1.0

[26176 rows x 8 columns]

In [65]:
# Apply the NOTEARS algorithm to learn the structure

from causalnex.structure.notears import from_pandas

sm = from_pandas(df)

In [ ]:

from causalnex.plots import plot_structure, NODE_STYLE, EDGE_STYLE

viz = plot_structure(
    sm,
    all_node_attributes=NODE_STYLE.WEAK,
    all_edge_attributes=EDGE_STYLE.WEAK,
)

viz.toggle_physics(False)
viz.show("../screenshots/01_fully_connected.html")

In [ ]:
# import graphviz

# # Create the Graphviz graph
# graph = graphviz.Digraph()

# # Add nodes and edges to the graph
# for node in [str(n) for n in sm.nodes]:
#     graph.node(node)

# for (u, v) in sm.edges:
#     graph.edge(str(u), str(v))

# # Display the graph in the default web browser
# graph.view()

### Apply threshold to weaker edges

In [ ]:
sm.remove_edges_below_threshold(0.8)

viz = plot_structure(
    sm,
    all_node_attributes=NODE_STYLE.WEAK,
    all_edge_attributes=EDGE_STYLE.WEAK,
)

viz.toggle_physics(False)
viz.show("../screenshots/02_fully_connected.html")

In [107]:
df = df.rename(columns={0: "is_weekend", 1: "is_holiday", 2: "distance", 3: "speed",4: "Rain_Condition", 5: "Temperature",6:"driver_distance,", 7:"is_fulfilled"}, errors="raise")

In [103]:
df

,is_weekend,is_holiday,distance,speed,Rain_Condition,Temperature,"driver_distance,",is_fulfilled
0,0.0,0.0,0.614757,0.061171,1.0,0.0,0.076714,1.0
1,0.0,0.0,0.237800,0.002499,1.0,0.0,0.112747,1.0
2,0.0,0.0,0.147314,0.000863,1.0,0.0,0.140875,1.0
3,0.0,0.0,0.163998,0.001685,1.0,0.0,0.091039,1.0
4,0.0,0.0,0.558995,0.004540,1.0,0.0,0.062579,1.0
...,...,...,...,...,...,...,...,...
26171,0.0,0.0,0.075230,0.000640,0.0,0.0,0.103454,1.0
26172,1.0,0.0,0.104790,0.003900,1.0,0.0,0.134859,1.0
26173,1.0,0.0,0.783849,0.005912,1.0,1.0,0.145069,1.0
26174,0.0,0.0,0.537033,0.002888,0.0,0.0,0.109407,1.0
26175,0.0,0.0,0.237382,0.000829,1.0,0.0,0.122365,1.0

In [108]:
sm = from_pandas(df, tabu_edges=[("driver_distance,", "is_weekend"),("distance", "is_weekend")], w_threshold=0.8)

In [ ]:

sm.remove_edges_below_threshold(0.8)

viz = plot_structure(
    sm,
    all_node_attributes=NODE_STYLE.WEAK,
    all_edge_attributes=EDGE_STYLE.WEAK,
)

viz.toggle_physics(False)
viz.show("../screenshots/03_fully_connected.html")